.title-and-tips
  h1.page-title(style='display: inline;')= page.title
  .page-tips 静态部署版
#bber
  section.timeline.page-1
    ul#waterfall.list
      each i in site.data.essay
        each item, index in i.essay_list
          if index < 30
            li.item
              .bber-content
                p.datacont= item.content
                  if item.image
                    a.bber-content-img(href=item.image, target="_blank")
                      img(src=item.image)
              .bber-bottom
                .bber-info
                  - var datedata = new Date(item.date).toISOString()
                  time.datatime(datetime= item.date)= datedata
#bber-tips(style='color: var(--heo-secondtext);')
  | - 只展示最近30条短文 -
